{% extends 'base/base.html' %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% block contenido %}

<div class="card">
    <div class="card-body">
        <div class="alert alert-success" role="alert">
            <h5 class="card-title" style="text-align: center;">IMPRESION DE GUIAS MADRE</h5>
        </div>
        {% if obj %}
        <form method="POST" role="form" action="{% url 'impa:impedit' obj.pk %}" name="imp">
        {% else %}
        <form method="POST" role="form" action="{% url 'impa:newimp' %}" name="imp">
        {% endif %}
            {% csrf_token %}
            <div class="form-row">
                <div class="form-roup col-md-3 mb-3">
                    <p>
                        <label for="id_fecha">Fecha:</label>
                        <input type="text" name="fecha" class="form-control" required id="id_fecha">
                    </p>
                </div>
            </div>
            <!-- SECCION DE DATOS DE REMITENTE -->
            <div class="alert alert-info" role="info">
                <h6 style="text-align: center;">DATOS REMITENTE</h6>
                <div class="form-row">
                    <div class="form-group col-md-1 mb-3">
                        <label for="id_codigo_cliente">CODIGO:</label>
                        <input type="text" name="codigo_cliente" maxlength="8" class="form-control" required id="id_codigo_cliente">
                    </div>
                    <div class="form-group col-md-5 mb-3">
                        <label for="id_remitente">Remitente:</label>
                        <input type="text" name="remitente" maxlength="200" class="form-control" required id="id_remitente">
                    </div>
                     <div class="form-group col-md-6 mb-3">
                        <label for="id_dirrem">Direccion Remitente:</label>
                        <input type="text" name="dirrem" maxlength="300" class="form-control" required id="id_dirrem">
                     </div>
                </div>    
                <div class="form-row">
                    <div class="form-group col-md-2 mb-3">
                        
                            <label for="id_tel">Telefono:</label>
                            <input type="text" name="tel" maxlength="9" class="form-control" required id="id_tel">
                        
                    </div>
                    <!-- <div class="form-group col-md-2 mb-3">
                            <label for="id_zona">Zona:</label>
                            <input type="text" name="zona" maxlength="2" class="form-control" required id="id_zona">
                    </div>
                    <div class="form-group col-md-2 mb-3">
                            <label for="id_muni">Municipio:</label>
                            <input type="text" name="muni" maxlength="50" class="form-control" required id="id_muni">
                    </div> -->
                    <div class="form-group col-md-2 mb-3">
                            <label for="id_origen">Origen:</label>
                            <input type="text" name="origen" maxlength="50" class="form-control" required id="id_origen">
                    </div>
                    <!-- <div class="form-group col-md-2 mb-3">
                            <label for="id_ruta">Ruta:</label>
                            <input type="text" name="ruta" maxlength="3" class="form-control" required id="id_ruta">
                    </div> -->
                </div>
            </div>
            

        <!-- Seccion para ingresar datos de destinatario si se tubiera que imprimir tambien -->
        <div class="alert alert-warning" role="alert">
            <h6 style="text-align: center;">DATOS DESTINATARIO</h6>
            <div class="form-row">
                <div class="form-group col-md-1 mb-3">
                    <label for="id_codigo_desti">Codigo Dest:</label>
                    <input type="text" name="codigo_desti" maxlength="8" class="form-control" id="id_codigo_desti">
                </div>
                <div class="form-group col-md-5 mb-3">
                    <label for="id_destinatario">Destinatario:</label>
                    <input type="text" name="destinatario" maxlength="100" class="form-control" id="id_destinatario">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="id_dirdes">Direccion Dest:</label>
                    <input type="text" name="dirdes" maxlength="300" class="form-control" id="id_dirdes">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 mb-3">
                    <label for="id_teldes">Telefono:</label>
                    <input type="text" name="teldes" maxlength="9" class="form-control" id="id_teldes">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_zonades">Zona:</label>
                    <input type="text" name="zonades" maxlength="2" class="form-control" id="id_zonades">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_munides">Municipio:</label>
                    <input type="text" name="munides" maxlength="50" class="form-control" id="id_munides">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_destino">Destino:</label>
                    <input type="text" name="destino" maxlength="50" class="form-control" id="id_destino">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_rutades">Ruta:</label>
                    <input type="text" name="rutades" maxlength="3" class="form-control" id="id_rutades">
                </div>
            </div>
        </div>
           
            
            
            <div class="form-row">
                <div class="form-group col-md-2 mb-3">
                    <label for="id_fpago">Forma de pago:</label>
                    <input type="text" name="fpago" maxlength="6" class="form-control" required id="id_fpago"></input>    
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_numini">Numero Inicial:</label>
                    <input type="number" name="numini" maxlength="6" class="form-control" required id="id_numini">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_numfin">Numero Final:</label>
                    <input type="number" name="numfin" maxlength="6" class="form-control" required id="id_numfin">
                </div>
                <div class="form-group col-md-2 mb-3">
                    <label for="id_totalimp">Total Guías A Imprimir:</label>
                    <input type="number" name="totalimp" maxlength="6" class="form-control" required id="id_totalimp">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-danger"><span class="fa fa-print"></span> Imprimir</button>
        
                    <button type="button" class="btn btn-success"> <i class="fa fa-window-close"></i><a
                            href="{% url 'impa:listimp' %}"> Salir</a>
        
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

    
     
        <script>
            function buscarCliente() {
                var codigo = $("#id_codigo_cliente").val();
                if (codigo === "") {
                    return false;
                }

                var path = "{% url 'api:cliente_list' %}" + codigo;
                $.ajax({
                    type: "GET",
                    url: path,
                    success: function (r) {
                        console.log(r);
                        //console.log(r.existencia);
                        console.log(r.estado);
                        console.log("A")

                        if (r) {
                            $("#id_codigo_cliente").val(r.codigo);
                            $("#id_remitente").val(r.nombre);
                            $("#id_dirrem").val(r.direccion);
                            $("#id_tel").val(r.telefono);
                            $("#id_muni").val(r.municipio);
                            
                            $("#id_fpago").val(r.formapago);
                            $("#id_zona").focus();
                        } else {
                            mensaje("Cliente inexistente o inactivo", 'orange');
                            $("#id_codigo_cliente").val("");
                            $("#id_remitente").val("");
                            $("#id_dirrem").val("");
                            $("#id_tel").val("");
                            $("#id_muni").val("");
                            $("#id_origen").val("");
                            $("#id_fpago").val("");
                            $("#id_origen").focus();
                            return false;
                        }

                    },
                    error: function (a, b, c) {
                        console.log(a);
                        // console.log(b);
                        // console.log(c);
                        // console.log(a.status)
                        // console.log(a.responseText.detail);
                        // a.responseText["detail"]
                        // mensaje(c,'red');
                        if (a.status == 404) {
                            mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente", 'red');
                            $("#id_codigo_cliente").val("");
                            $("#id_remitente").val("");
                            $("#id_dirrem").val("");
                            $("#id_tel").val("");
                            $("#id_muni").val("");
                            $("#id_origen").val("");
                            $("#id_codigo_cliente").focus();
                        }
                    }
                });
            }
            //FUNCION PARA BUSCAR DATOS DE DESTINATARIO
            function buscarClientedes() {
                var codigo = $("#id_codigo_desti").val();
                if (codigo === "") {
                    return false;
                }

                var path = "{% url 'api:cliente_list' %}" + codigo;
                $.ajax({
                    type: "GET",
                    url: path,
                    success: function (r) {
                        console.log(r);
                        //console.log(r.existencia);
                        console.log(r.estado);

                        if (!r.estado) {
                            $("#id_codigo_desti").val(r.codigo);
                            $("#id_destinatario").val(r.nombre);
                            $("#id_dirdes").val(r.direccion);
                            $("#id_teldes").val(r.telefono);
                            $("#id_munides").val(r.municipio);
                            
                            $("#id_zonades").focus();
                        } else {
                            mensaje("Cliente inexistente o inactivo", 'orange');
                            $("#id_codigo_desti").val("");
                            $("#id_destinatario").val("");
                            $("#id_dirdes").val("");
                            $("#id_teldes").val("");
                            $("#id_munides").val("");
                            $("#id_destino").val("");
                            $("#id_codigo_desti").focus();
                            return false;
                        }

                    },
                    error: function (a, b, c) {
                        console.log(a);
                        // console.log(b);
                        // console.log(c);
                        // console.log(a.status)
                        // console.log(a.responseText.detail);
                        // a.responseText["detail"]
                        // mensaje(c,'red');
                        if (a.status == 404) {
                            mensaje("Cliente -" + codigo_cliente + "- no encontrado o inexistente", 'red');
                            $("#id_codigo_desti").val("");
                            $("#id_destinatario").val("");
                            $("#id_dirdes").val("");
                            $("#id_codigo_desti").focus();
                        }

                    }

                });
            }
             // Obtén los elementos de los campos y el resultado
                        const numini = document.getElementById('id_numini');
                        const numfin = document.getElementById('id_numfin');
                        const totalimp = document.getElementById('id_totalimp');

                        // Función para calcular y actualizar el resultado
                        function calcularResultado() {
                            const valorNumini = parseFloat(id_numini.value);
                            const valorNumfin = parseFloat(id_numfin.value);
                            
                            // Verifica si los valores son numéricos antes de realizar el cálculo
                            if (!isNaN(valorNumini) && !isNaN(valorNumfin)) {
                                // Realiza el cálculo que necesites
                                const resultadoCalculado = valorNumfin - valorNumini + 1;

                                // Actualiza el valor del resultado
                                totalimp.value = resultadoCalculado;
                            } else {
                                // Si los valores no son numéricos, deja el campo totalimp en blanco
                                totalimp.value = '';
                            }
                        }

                        // Escucha los eventos 'input' en los campos para actualizar el resultado
                        numini.addEventListener('input', calcularResultado);
                        numfin.addEventListener('input', calcularResultado);
                    


        // Obtener la fecha y hora actual en el formato DD-MM-YYYYTHH:mm
        document.addEventListener('DOMContentLoaded', function() {
            const inputFecha = document.getElementById('id_fecha');
            if (inputFecha) {
                const ahora = new Date();
                const anio = ahora.getFullYear();
                const mes = (ahora.getMonth() + 1).toString().padStart(2, '0');
                const dia = ahora.getDate().toString().padStart(2, '0');

                const fechaActual = `${anio}-${mes}-${dia}`;

                inputFecha.value = fechaActual;
            }
        });


        
        //BUSCAR FORMA DE PAGO
            
            $("#id_codigo_cliente").change(function (e) {
                buscarCliente();
            });
            $("#id_codigo_desti").change(function (e) {
                buscarClientedes();
            });
            // Funcion que agrega guión(-) al escribir 3 caracteres
            var idco = $("input#id_codigo_cliente");
            var idcodes = $("input#id_codigo_desti");
            // Código Cliente Funcion
            idco.keyup(function (event) {
                if (event.keyCode !== 8) {
                    value = idco.val()

                    if (value.length == 3) {
                        idco.val(value + '-');
                    }
                }
            })
            idcodes.keyup(function (event) {
                if (event.keyCode !== 8) {
                    value = idcodes.val()

                    if (value.length == 3) {
                        idcodes.val(value + '-');
                    }
                }
            })
            //Funcion que valida solo números en un input
            function Numeros(string) {
                var out = '';
                var filtro = '1234567890';//Caracteres validos

                //Recorrer el texto y verificar si el caracter se encuentra en la lista de validos 
                for (var i = 0; i < string.length; i++)
                    if (filtro.indexOf(string.charAt(i)) != -1)
                        //Se añaden a la salida los caracteres validos
                        out += string.charAt(i);

                //Retornar valor filtrado
                return out;
            }
            
           
            // Funcion para pasar a mayusculas datos de los inputs
            $(document).ready(function () {
                $("input").on("keypress", function () {
                    $input = $(this);
                    setTimeout(function () {
                        $input.val($input.val().toUpperCase());
                    }, 50);
                })
            });
         
            // Funcion Abrir Modal buscar_remi
            $(document).keydown(function (e) {
                if (e.keyCode == 113) {
                    console.log("a")
                    abrir_modal("{% url 'impa:buscar_cli' %}")
                }
            })
            // Funciion abrir modal buscar_desti
            $(document).keydown(function (e) {
                if (e.keyCode === 115) {
                    abrir_modal("{% url 'impa:buscar_des' %}")
                }
            })
            
           

		let print = $('.print');

		$("form").submit(function (e) {
			numInicial = parseInt($('#id_numini').val());
			numFinal = parseInt($('#id_numfin').val());

		    e.preventDefault();

		    imprSelec('canvas');
		});

		function imprSelec(nombre) {
			var ficha = document.getElementById(nombre)
			var ventana = window.open(' ', 'popimpr');
			ventana.document.write('<html><head><title>' + document.title + '</title>');
			ventana.document.write('<link rel="stylesheet" href="../../../static/lib/css/printmadre.css">'); //Aquí agregué la hoja de estilos
			ventana.document.write('</head><body >');
			//ventana.document.write('<div class="canvas"></div>')
			for(var i = numInicial; i <= numFinal; i++){
				ventana.document.write(
				`
						<div class="guia">
							<div class="formapago">
								<p class="">${$('#id_fpago').val()}</p>
							</div>
              <div class="datos">
                <div class="datosRemitente">
                  <p class="remitente">${$('#id_remitente').val()}</p>
                  <p class="dirRemitente">${$('#id_dirrem').val()}</p>
                  <p class="telRemitente">${$('#id_tel').val()}</p>
                  <p class="origen">${$('#id_origen').val()}</p>
                </div>
                <div class="datosDestinatario">
                  <p class="destinatario">${$('#id_destinatario').val()}</p>
                  <p class="dirDestinatario">${$('#id_dirdes').val()}</p>
                  <p class="telDestinatario">${$('#id_teldes').val()}</p>
                  <p class="destino">${$('#id_destino').val()}</p>
                </div>
              </div>
							<div class="codigoCliente">
								<p>${$('#id_codigo_cliente').val()}</p>
							</div>
						</div>
					`
				);
                if (i < numFinal) {
                    ventana.document.write(`
                        <div class="break"></div>
                    `)
                }
			}
			ventana.document.write('</body></html>');
			ventana.document.close();
			setTimeout(()=>{
				ventana.print( );
                ventana.close( );
                document.imp.submit()
			}, 100)
		}

        </script>
{% endblock %}