{% extends 'base/base.html' %}

{% load static %}


{% block login %}
<br><br><br>
<div class="box">
            <div class="form">
                <h2>Iniciar Sesión</h2>
                <form class="user" method='POST'>
                    {% csrf_token %}
                    <i class="fa fa-user" aria-hidden="true"></i>
                    {{ form }}
                    <i class="fa fa-lock" aria-hidden="true"></i>
                    <div class="inputBox2">
                        <p>Volver <a href="{% url 'bases:home' %}">Inicio</a></p>
                        <p>Registrar <a href="#">Usuario</a></p>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="btn btn-primary btn-user btn-block">Acceder</button>
                    </div>
                    {% if user.is_authenticated %}
                        <p>Welcome, You are logged in as {{ user.username }}</p>
                        {% else %}
                        
                    {% endif %}
                </form>
            </div>
</div>
    
{% endblock %}
{% block js_page %}
<script>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                  mensaje('{{ error|escape }}','red');
                {% endfor %}
            {% endif %}
        {% endfor %}
    
        {% if form.non_field_errors%}
            {% for error in form.non_field_errors %}
              mensaje('{{ error|escape }}','red');
            {% endfor %}
        {% endif %}
    {% endif %}
  </script>

{% endblock %}