{% extends 'base/base.html' %}

{% load static %}


{% block login %}
<br><br><br>
<div class="wrapper">
    <div class="tex-center mt-4 name">
        Iniciar Sesión
    </div>        
                <form class="p-3 mt-3" method='POST'>
                    {% csrf_token %}
                 
                    <div class="form-field d-flex align-items-center">
                        <span class="far fa-user"></span>
                        <input type="text" name="username" id="id_username" placeholder="Usuairo">
                    </div>
                    <div class="form-field d-flex align-items-center">
                        <span class="fas fa-key"></span>
                        <input type="password" name="password" id="id_password" placeholder="Password">
                    </div>

                   <!-- {{ form }}-->
                    
                    <div class="inputBox2">
                        <p>Volver <a href="{% url 'bases:home' %}">Inicio</a></p>
                        <p>Registrar <a href="{% url 'bases:registro' %}">Usuario</a></p>
                    </div>
                    <div class="inputBox">
                        <button type="submit" class="btn btn-primary btn-user btn-block">Acceder</button>
                    </div>
                    {% if user.is_authenticated %}
                        <p>Welcome, You are logged in as {{ user.username }}</p>
                        {% else %}
                        
                    {% endif %}
                </form>
</div>
    
{% endblock %}
{% block js_page %}
<script>
    {% if form.errors %}
        {% for field in form %}
            {% if field.errors %}
                {% for error in field.errors %}
                  mensaje('{{ error|escape }}','red');
                {% endfor %}
            {% endif %}
        {% endfor %}
    
        {% if form.non_field_errors%}
            {% for error in form.non_field_errors %}
              mensaje('{{ error|escape }}','red');
            {% endfor %}
        {% endif %}
    {% endif %}
  </script>

{% endblock %}