ServerName 172.16.10.1:8080

#Django project
LoadFile "C:/Python311/python311.dll"
LoadModule wsgi_module "C:/Python311/lib/site-packages/mod_wsgi/server/mod_wsgi.cp310-win_amd64.pyd"
WSGIPythonHome "C:/python311"

WSGIScriptAlias / "C:/Apache24/htdocs/impguias/impguias/wsgi.py"
WSGIPythonPath "C:/Apache24/htdocs/impguias/"

<Directory "C:/Apache24/htdocs/impguias/impguias/">
    <Files wsgi.py>
        Require all granted
    </Files>
</Directory>

Alias /static "C:/Apache24/htdocs/impguias/staticfiles/"
<Directory "C:/Apache24/htdocs/impguias/staticfiles/">
    Require all granted
</Directory>