<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python310\python.exe|‪C:\impresion\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="DJANGO_SETTINGS_MODULE" value="impguias.settings" />
        <add key="PYTHONPATH" value="C:\impresion" />
        <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
    </appSettings>
</configuration>
