{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="{% static 'media/img/truck.ico' %}" type="image/x-icon">
	<link rel="shortcut icon" href="{% static 'media/img/truck.ico' %}" type="image/x-icon">
	<title>Dashboard  Transportes JR</title>
	<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
	
	<link rel="stylesheet" href="{% static 'lib/css/dashboard.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/madre.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/hija.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/printmadre.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/print.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/index.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/login.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/registro.css' %}">
	<link rel="stylesheet" href="{% static 'lib/css/jquery-confirm.min.css' %}">

	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/sb-admin-2.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'lib/css/sb-admin-2.min.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
	

	<!--Sweet Alert-->
	<!-- Agrega estos enlaces en la sección <head> de tu plantilla HTML -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.js"></script>

	<!-- datatables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>

	<!--Section Js-->
	<script src="{% static 'lib/js/jquery-confirm.min.js' %}"></script>
	<script src="{% static 'lib/js/mijs.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
	<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js" ></script>
	<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap4.min.js"></script>
	<script src="{% static 'lib/js/moment.js' %}"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
	

	<!--Seccion Jquery-->

</head>
<body>
	<div class="containerr">
		<div class="navigation">
			<ul>
				<li>
					<a href="#">
						<span class="icon"><ion-icon name="radio-outline"></ion-icon></span>
						<span class="title">LINEN ADMIN</span>
					</a>
				</li>
				<li>
					<a href="{% url 'bases:home' %}">
						<span class="icon"><ion-icon name="home-outline"></ion-icon></span>
						<span class="title">Inicio</span>
					</a>
				</li>
				{% comment %} URLS de recursos humanos {% endcomment %}
				<li class="dropdown">
					<a href="#">
						<span class="title">Recursos Humanos</span>
						<span class="icon"><ion-icon name="chevron-down-outline"></ion-icon></span>
					</a>
					<ol>
						<li><a href="{% url 'empleados:nacionalidad' %}"><i class="fa-regular fa-flag"></i> Nacionalidad</a></li>
						<li><a href="{% url 'empleados:sexolist' %}"><i class="fa-solid fa-venus-mars"></i> Genero</a></li>
						<li><a href="{% url 'empleados:civillist' %}"><i class="fa-solid fa-rings-wedding"></i> Estado Civil</a></li>
						<li><a href="{% url 'empleados:salariolist' %}"><i class="fa-solid fa-money-bill-transfer"></i> Sircunscripcion</a></li>
						<li><a href="{% url 'empleados:gerencialist' %}"><i class="fa-solid fa-bars-progress"></i> Gerencia</a></li>
						<li><a href="{% url 'empleados:deptolist' %}"><i class="fa-solid fa-apartment"></i> Departamento</a></li>
						<li><a href="{% url 'empleados:puestolist' %}"><i class="fa-solid fa-chair-office"></i> Puesto</a></li>
						<li><a href="{% url 'empleados:suclist' %}"><i class="fa-solid fa-code-branch"></i> Sucursal</a></li>
						<li><a href="{% url 'empleados:empleadolist' %}"><i class="fa-solid fa-briefcase"></i> Registo Empleado</a></li>
						<li><a href="{% url 'empleados:nominalist' %}"><i class="fa-brands fa-paypal"></i> Datos para Nomina</a></li>
						<li><a href="{% url 'empleados:papelerialist' %}"><i class="fa-sharp fa-solid fa-paperclip-vertical"></i> Papeleria</a></li>					
					</ol>
				</li>
				<hr>
				<li class="dropdown">
					<a href="#">
						<!-- <span class="icon"><ion-icon name="logo-pinterest"></ion-icon></span> -->
						<span class="title">Proveedores</span>
						<span class="icon"><ion-icon name="chevron-down-outline"></ion-icon></span>
					</a>
					<ol>
						<li><a href="{% url 'porvee:listprove' %}"><ion-icon name="logo-playstation"></ion-icon>Nuevo Proveedor</a></li>
						<li><a href="{% url 'porvee:listfac' %}"><ion-icon name="document-attach-outline"></ion-icon>Registrar Factura</a></li>
						<li><a href="#"><ion-icon name="barcode-outline"></ion-icon>Reporte factura</a></li>
					</ol>
				</li>
				{% comment %} URLS de impresion de guias  {% endcomment %}
					<li class="dropdown">
						<a href="#">
							<span class="title"><i class="fa-regular fa-shredder"></i>  Impresion de Guías</span>
							<span class="icon"><ion-icon name="chevron-down-outline"></ion-icon></span>
						</a>
						<ol>
							<li>
								{% if perms.imphijas.view_guia %}
									<a href="{% url 'guiasenv:guialist' %}"><i class="fa-regular fa-newspaper"></i>Guias Rutas y Agencias</a>
								{% endif %}
							</li>
							<li>
								{% if perms.impa.view_imp %}
									<a href="{% url 'impa:listimp' %}"><i class="fa-regular fa-newspaper"></i>Imprimir Madres</a>
								{% endif %}
							</li>
							<li>
								{% if perms.imphijas.view_imphija %}
									<a href="{% url 'imphijas:hijalist' %}"><i class="fa-regular fa-newspaper"></i>Imprimir Hijas</a>
								{% endif %}
							</li>
						</ol>
					<li>
				<hr>		
					<li>	
						{% if perms.guiasenv.view_cliente %}
						<a href="{% url 'guiasenv:clientelist' %}">
							<span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
							<span class="title">Clientes</span>
						</a>
						{% endif %}
					</li>
					<hr>
					<li>
						{% if perms.rutas.view_ruta %}
						<a href="{% url 'rutas:list_ruta' %}">
							<span class="icon"><ion-icon name="people-circle-outline"></ion-icon></span>
							<span class="title">Rutas</span>
						</a>
						{% endif %}
					</li>
					<hr>
					<li>
						{% if perms.guiasenv.view_lote %}
						<a href="">
							<span class="icon"><ion-icon name="receipt-outline"></ion-icon></span>
							<span class="title">Lotes creados</span>
						</a>
						{% endif %}
					</li>
					<hr>
					<li>
						{% if perms.guiasenv.view_lote %}
						<a href="{% url 'guiasenv:reporte' %}">
							<span class="icon"><ion-icon name="pie-chart-outline"></ion-icon></span>
							<span class="title">Generar Reportes</span>
						</a>
						{% endif %}
					</li>
					<hr>
					<li class="dropdown">
						{% if perms.guiasenv.view_lote %}
						<a href="#">
							<span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
							<span class="title">Configuracion</span>
						</a>
						{% endif %}
					</li> 
					<hr>
				<li>
					
					<a href="{% url 'bases:logout' %}">
						<span class="icon" ><ion-icon name="log-out-outline" ></ion-icon></span>
						<span class="title" href="">Cerrar Sesión</span>
					</a>
				</li>
				<hr>
			</ul>
		</div>
		<!-- Main -->
		
		<div class="main">
			
			<div class="topbar">
				<div class="toggle">
					<ion-icon name="menu-outline"></ion-icon>
				</div>
				<!-- search -->
				<!--<div class="search">
					<label>
						<input type="text" placeholder="Search here">
						<ion-icon name="search-outline"></ion-icon>
					</label>
				</div>-->
				<!-- userImg -->
				{% if user.is_authenticated %}
				<div class="user">
					<span class="alert alert-warning"><b>En este momento estra trabajando el usuario:    {{ user.get_username }}</b> </span><ion-icon name="person-circle-outline"></ion-icon>
				</div>
				{% endif %}
			</div>

			{% block login %} {% endblock %}


			<div class="details">
				<div>
					{% block contenido %}
					{% endblock %}
				</div>
			</div>
			
		</div>
	
	</div>
	<div class="modal fade" id="popup"></div>

	<script>
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;

		for (i = 0; i < dropdown.length; i++) {
		dropdown[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
			dropdownContent.style.display = "none";
			} else {
			dropdownContent.style.display = "block";
			}
		});
		}
	</script>

	<script src="{% static 'lib/js/dash.js' %}"></script>
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	{% block control_modal %}
	<script type="application/javascript">
		function abrir_modal(url)
			{

			$("#popup").load(url, function(){
				$(this).modal({
				backdrop:'static',
				keyboard: false
				})
				$(this).modal('show');
			});
			return false;
			}

		function cerrar_modal()
			{
				$('#popup').modal('hide');
				return false;
			}
            
                $('#guias').DataTable({
					
				
			 });
	{% if messages %}
      {% for message in messages %}
        console.log("{{ message.tags }}");
        mensaje("{{ message }}","{{ message.tags }}");
      {% endfor %}
    {% endif %}       
			
	</script>
	{% endblock%}
		
{% block js_page %}
	


{% endblock %}
</body>
</html>