<div class="modal-dialog modal_lg cli_new">
    <div class="modal-content">
        {% if obj %}
        <form method="POST" role="form" class="form-inline" action="{% url 'guiasenv:guiaedit' obj.pk %}">
        {% else %}
        <form method="POST" role="form" class="form-inline" action="{% url 'guiasenv:guianew' %}">
        {% endif %}

            <div class="col-xl-12 col-md-12 mb-12">
                {% if obj %}
                <div class="card border-left-warning shadow h-100 py-2">
                {% else %}
                <div class="card border-left-success shadow h-100 py-2">
                {% endif %}
                    <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                {% if obj %} Editar {% else %} Nuevo {% endif %} Correlativo
                            </div>
                            <div class="dropdown-divider"></div>
                            {% csrf_token %}
                            <div class="row cli_new">
                             <style>
                              
                             </style>       
                                {{ form.as_p }} 
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Guardar</button>
                                    
                                    <button type="button" class="btn btn-success" onclick="return cerrar_modal()">
                                     Salir   
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        //Calculo de total enviado
                       

                        // Funcion que agrega guión(-) al escribir 3 caracteres
                        var idco = $("input#id_codigo");
                        var idtel = $("input#id_telefono");
                        // Código Cliente Funcion
                        $("#id_fecha").attr('type', 'date');
                        idco.keyup(function(event) {
                            if (event.keyCode !== 8) {
                                value = idco.val()

                                if (value.length == 3) {
                                    idco.val(value + '-');
                                }
                            }
                        })
                        // Telefono Funcion
                        idtel.keyup(function(event) {
                            if (event.keyCode !== 8) {
                                value = idtel.val()

                                if (value.length == 4) {
                                    idtel.val(value + '-');
                                }
                            }
                        })

                        //Calculo de total enviado
                        // Obtén los elementos de los campos y el resultado
                        const numini = document.getElementById('id_numini');
                        const numfin = document.getElementById('id_numfin');
                        const totenvio = document.getElementById('id_totenvio');

                        // Función para calcular y actualizar el resultado
                        function calcularResultado() {
                            const valorNumini = parseFloat(id_numini.value);
                            const valorNumfin = parseFloat(id_numfin.value);
                            
                            // Realiza el cálculo que necesites
                            const resultadoCalculdo = valorNumfin - valorNumini + 1;

                            // Actualiza el valor del resultado
                            totenvio.value = resultadoCalculdo;
                        }

                        // Escucha los eventos 'input' en los campos para actualizar el resultado
                        numini.addEventListener('input', calcularResultado);
                        numfin.addEventListener('input', calcularResultado);
                    
                    function buscarCliente()
                    {
                        var codigo = $("#id_codigo").val();
                        var path = "{% url 'api:cliente_list' %}" + codigo;
                        $.ajax({
                            type:"GET",
                            url: path,
                            success: function(r){
                                console.log(r);
                                
                                $("#id_codigo").val(r.codigo);
                                $("#id_cliente").val(r.nombre);
                                $("#id_fecha").focus();
                            },
                            error: function(a,b,c){
                                console.log(a);
                                if(a.status==404){
                                    mensaje("Codigo -" + codigo + "- Cliente no existe","red");
                                    $("#id_codigo").val("");
                                    $("#id_cliente").val("");
                                    $("#id_codigo").focus("");
                                }

                            }
                            
                        });
                        

                    }
                    console.log(buscarCliente);
                    $("#id_codigo").keypress(function(e){
                            if(e.keyCode===13){
                                buscarCliente();
                            }
                        });
                    </script>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>