{% extends 'guiasenv/guialist.html' %}

{% load static %}


{% block contenido  %}
<main style="border: #EB984E 5px groove; border-radius: 5px;">
    <div class = "container">
        <h1>REPORTES AGENCIAS Y RUTAS</h1>
        <div class="row">
            <div class="col-sm">
                <h5>Reporte por fecha</h5>
                <form action="{% url 'guiasenv:guiaexcelfech' %}" method="get" class="form-inline">
                    <div class="form group mb-2">
                        <input type="date" id="fecha" class="form-control" name="fecha" placeholder="Fecha Inicial" >
                        <input type="date" id="fechfin" class="form-control" name="fecha_hasta" placeholder="Fecha Final" >
                        
                    </div>
                    <button type="submit"  class="btn btn-success">Reporte Por Fecha</button>
                </form>
            </div>
            <div class="col-sm">
                <h5>Reporte Por Cliente</h5>
                <form action="{% url 'guiasenv:guiaexcel' %}" method="get" class="form-inline">
                    <div class="form group mb-2">
                        <input type="text" id="id_codigo" class="form-control" name="campo" placeholder="Consulta Por Codigo" style="text-transform:uppercase">
                        
                    </div>
                    <button type="submit"  class="btn btn-success">Reporte Por Codigo</button>
                </form>
            </div>
            <div class="col-sm">
                <h5>Reporte General</h5>
                <div class="form group-mb-2">
                    <a href="{% url 'guiasenv:guiaexcelgen' %}" class="btn btn-success">Reporte General</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class = "container">
        <h1>REPORTE DE GUIAS IMPRESAS A CLIENTES</h1>
        <div class="row">
            <div class="col-sm">
                <h5>Reporte por fecha</h5>
                <form action="{% url 'guiasenv:historicoexcel' %}" method="get" class="form-inline">
                    <div class="form group mb-2">
                        <input type="date" id="fecha" class="form-control" name="fecha"  >
                        <input type="date" id="fechfin" class="form-control" name="fecha_hasta">
                        
                    </div>
                    <button type="submit"  class="btn btn-success">Reporte Por Fecha</button>
                </form>
            </div>
            
            <div class="col-sm">
                <h5>Reporte Por Cliente</h5>
                <form action="{% url 'guiasenv:guiaexcel' %}" method="get" class="form-inline">
                    <div class="form group mb-2">
                        <input type="text" id="id_codigo" class="form-control" name="campo" placeholder="Consulta Por Codigo" style="text-transform:uppercase">
                        
                    </div>
                    <button type="submit"  class="btn btn-success">Reporte Por Codigo</button>
                </form>
            </div>
            <div class="col-sm">
                <h5>Reporte General</h5>
                <div class="form group-mb-2">
                    <a href="{% url 'guiasenv:guiaexcelgen' %}" class="btn btn-success">Reporte General</a>
                </div>
            </div>
        </div>
    </div>

</main>   
<br>
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Rango de fechas:</label>
                    {{ form.date_range }}
                </div>
            </div>
        </div>
        <hr>
        <table class="table table-bordered" id="data">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Fecha</th>
                <th scope="col">Codigo</th>
                <th scope="col">Cliente</th>
                <th scope="col">Tipo Envio</th>
                <th scope="col">Numero Inicial</th>
                <th scope="col">Numero Final</th>
                <th scope="col">Total Enviado</th>
            </tr>
        </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="{{ list_url }}" class="btn btn-success btn-flat">
                <i class="fas fa-sync"></i> Actualizar
            </a>
        </div>
    </div> 

    <link rel="stylesheet" href="{% static './lib/css/reportes.css' %} "></li>
    <link rel="stylesheet" href="{% static './lib/daterange/daterangepicker.css' %} "></li>
    <script src="{% static './lib/js/sale.js' %}"></script>
    <script src="{% static './lib/daterange/moment.min.js' %}"></script>
    <script src="{% static './lib/js/moment.js' %}"></script>
    <script src="{% static './lib/daterange/spanish.js' %}"></script>
    <script src="{% static './lib/daterange/daterangepicker.js' %}"></script>
 
        
 
    

{% endblock  %}